.item{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.cardDetail{
    width: 800px;
    border: 2px solid #808080ad;
    border-radius: 5px;
    background-color: #add8e638;
}

.tittleDetail{
    font-size: 30px;
    background-color: lightblue;
    border-bottom: 2px solid #808080ad;
}

.imgdetail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imgdetail img{
    margin: 5px;
    border: 1px solid #808080ad;
    border-radius: 5px;
}

.imgdetail p{
    font-size: 20px;
    font-family: sans-serif;
}

.imgdetail .price{
    margin-top: 5px;
    font-size: 25px;
}

.stockDetail{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    line-height: 1;
    font-size: 17px;
}