.CartWidget{
    width: auto;
    padding: 5px 10px;
    font-size: 8px;
    background: lightblue;
    border-radius: 8px;
    font-size: medium;
    border-style: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-self: center;
}
.CartIcon{
    padding: 0 5px;
}