.card{
    width: 500px;
    margin: 0 5px;
}

img{
    width: inherit;
    height: 450px;
    margin: 5px 0;
}

.tittle{
    font-size: 25px;
    background-color: lightblue;
}

.detalles{
    margin-bottom: 5px;
}

.stock{
    font-size: 20px;
    background-color: lightblue; 
}
