.Navbar {
    display: flex;
    height: 50px;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
} 

.Name{
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-left: 10px;
}

.Option{
    display: flex;
    justify-content: space-evenly;
}